
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Germany</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Members/MemberList">Members</a></li>
                    <li><a href="~/Members/Firm">Germany</a></li>
                    <li><a href="~/Members/Firm">Heuking Kühn Lüer Wojtek</a></li>
                    <li class="active">Søren Pietzcker</li>
                </ol>

            </div>
        </div>
        <div class="row content_text">
            <div class="col-xs-9 content_global">
                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">Dr. Søren Pietzcker, LL.M.</h1>
                    </div>
                    <div class="pull-right print_share">
                        <a href="#"><img src="~/Images/share.png"></a>
                        <a href="#"><img src="~/Images/print.png"></a>
                    </div>
                </div>
                <hr>
                <div class="col-xs-3 bio_member">
                    <img src="~/Images/member-img.jpg" />
                    <div class="member_bio_contact_info">
                        <span class="bio_member_infotitle">Email</span><br />
                        <span class="bio_member_info"><a href="#">s.pietzcker@heuking.de</a></span>
                    </div>
                    <div class="member_bio_contact_info">
                        <span class="bio_member_infotitle">Telephone</span><br />
                        <span class="bio_member_info"><a href="#">+49 (0) 40 35 52 80 17</a></span>
                    </div>
                    <div class="member_bio_contact_info">
                        <span class="bio_member_infotitle">Fax</span><br />
                        <span class="bio_member_info"><a href="#">+49 (0) 40 35 52 80 80</a></span>
                    </div>
                </div>
                <div class="col-xs-9 bio_member_content_info">
                    <p>Søren is a partner at Heuking Kühn Lüer Wojtek in Hamburg, and in charge of the Intellectual Property and Advertising Law department. He is an Attorney at Law authorized to represent at all District Courts and Courts of Appeal in Germany as well as at the Federal Patent Court.</p><br />

                    <p>Søren writes and lectures on Intellectual Property issues such as advertising law, unfair competition law, ambush marketing and trademark law. Recent presentations include industry events in London, Warsaw, Washington and Chicago. He also teaches a class in IP Law at the University in St. Petersburg, Russia. He is a member of the German Association for the Protection of Intellectual Property (GRUR), International Trademark Association (INTA), International Bar Association (IBA), the Global Advertising Lawyers Alliance (GALA) and the Argentinean-German Lawyers Association.</p><br />

                    <p>As an Intellectual Property lawyer he focuses on advising clients in the manufacturing industry as well as in the service industry including advertising agencies on all aspects of advertising law, unfair competition law, trademark law, and other aspects of Intellectual Property protection. This includes the responsibility for the application, opposition, maintenance and defence of national trademarks, European community trademarks and International Registrations as well as trademark infringement litigation, especially by way of preliminary injunctions. Søren also clears ad campaigns and sweepstake rules for international agencies and does transactional work in intellectual property matters.</p><br />

                    <p>
                        He studied at the law schools of Tübingen/Germany, Geneva/Switzerland and Hamburg/Germany (doctor juris, 1994), University of Illinois at Urbana-Champaign (LL.M., 1996); for his legal clerkship he worked in institutions in Hamburg, Madrid/Spain and Buenos Aires/Argentina. After working three years in a boutique firm specializing in trademark law and unfair competition, Søren joined Heuking Kühn Lüer Wojtek in 1999 where he became a partner in 2002. He speaks German, English, Spanish and French.
                    </p>
                </div>
            </div>
            <div class="col-xs-3">
                <h4 class="bio_left_title text_uppercase">Heuking</h4>
                <div class="bio_contact_info">
                    <h4 class="bio_contact_info_title">Office</h4>
                    <p><span>Heuking Kühn Lüer Wojtek</span></p>
                    <p><span>Neuer Wall 63</span></p>
                    <p><span>20354 Hamburg</span></p>
                    <p><span>Germany</span></p>
                    <br />
                    <p><span>Tel:     <a href="">+49.69.975 61-446</a></span></p>
                    <p><span>Fax:    <a href="">+49.69.975 61-200</a></span></p>
                    <p><span>Web:   <a href="">www.heuking.de</a></span></p>
                </div>
            </div>
        </div>
    </div>
</section>