
@{
    ViewBag.Title = "GazetteArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Gala Gazette</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Publication/Publication">Publication</a></li>
                    <li><a href="~/Publication/GazetteArchive">Gala Gazette</a></li>
                    <li class="active">Volume 10, Issue 2</li>
                </ol>
            </div>
        </div>
        <div class="row content_text">
            <div class="col-xs-9 content_global">
                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">Recent developments in data protection in Costa Rica</h1>
                    </div>
                    <div class="pull-right print_share">
                        <a href="#"><img src="~/Images/print.png"></a>
                        <a href="#"><img src="~/Images/share.png"></a>
                    </div>
                </div>
                <hr>
                <div class="bio_member_content_info gazette_article_content_info">
                    <p>In recent years Costa Rica has followed international trends and enacted a Data Protection Law (No. 8968). This Law was initially issued in late 2011, but the Data Protection Authority was not installed until several months afterwards. Recently, this agency (called PRODHAB) announced that they will begin to enforce the Law and its related Regulations.</p>

                    <p>In summary, the following are the main features of Costa Rica’s data protection system:</p>

                    <p>In addition to intellectual property transactions, portfolio management, rights acquisition and maintenance and licensing in the areas of trademarks, copyright, designs and patents, the Firm's practice extends to allied areas such as entertainment and media law, advertising and mergers and acquisitions.</p>

                    <p>1. Data that may be collected: The Law refers to three different types of data: a) Unrestricted, which is the data and information that may be found in publicly accessible databases. This information may be collected and stored freely; b) Restricted, which is personal information not normally accessible to the general public, which may be collected and stored only with the consent of the individual; c) Sensitive, which is data related to the most personal and confidential information, such as religion, political affiliation, sexual orientation, medical history, etc. This information cannot be legally collected or stored.</p>

                    <p>2. Informed Consent: At the time of collecting personal information, the prior and express consent of the data holders must be obtained. This consent must meet certain requirements, and certain information must be disclosed prior to obtaining the personal information.</p>

                    <p>3. General rights: Individuals whose data is collected and stored enjoy several rights. The most important being the right to access their information, to request corrections and rectifications, to revoke the consent, and others.</p>

                    <p>4. Use of the information: The owner of the database may use the information solely for the purposes for which it was requested. Any transfer or assignment of the database must be also consented by the individuals providing the information.</p>

                    <p>5. Registration: The Law establishes that databases created with the purpose of “commercializing the information” must be registered. However, the authorities have taken a wide interpretation of the requirement, and they demand that all databases used for any commercial purpose must be registered at PRODHAB. This includes all the databases that are used for marketing and promotions. Databases created fully for internal uses are exempt from the registration requirement but must comply with the rest of the Law.</p>

                    <p>6. Superuser: One of the most controversial requirements is the obligation to grant PRODHAB permanent access to the database through a "Superuser." In practice, there has been a very reasonable approach by PRODHAB in the different alternatives to comply with this requirement. However, this is an institutional policy that is subject to change in the future.</p>

                    <p>7. Privacy and security: All websites must adjust their privacy policies, which should at least contain an explicit reference to the Law No. 8968, as well as the rights granted to the holders of the data. Also, managers of the databases must submit certain administration and security protocols.</p>

                    <p>8. Claims procedure: Administrators of databases should establish procedures for handling inquiries, data rectifications, claims, and others. These procedures must comply with certain requirements and conditions established by Law.</p>

                    <p>9. Transfer of the data and overseas storage: If the data is going to be stored in another country, or if it is going to be transferred, then a specific and express consent must be obtained. Also, the administrator of the database must sign a written agreement with the person or entity that will store the data abroad, or own it in the case of an assignment. This agreement must be registered at PRODHAB, and must contain an express acceptance by foreign entity/assignee of all the legal obligations related to the data.</p>

                    <p>10. Databases preceding the Law: Those bases compiled prior to the Law must be adjusted to comply with it. This involves adjusting the management and security of data and registering the database. Also send to all interested parties an update with the information equivalent to that contained in the informed consent.</p>

                    <p>In accordance with Law No. 8968, breach of these provisions may imply penalties like the suspension of the use of the database and/or the imposition of a fine.</p>


                </div>
            </div>
            <div class="col-xs-3">
                <h4 class="bio_left_title text_uppercase"><img src="~/Images/company-logo-1.png"></h4>
                <div class="bio_contact_info">
                    <h4 class="bio_contact_info_title">Office</h4>
                    <p>BLP Building, 4th floor.</p>
                    <p>Via Lindora Business Center</p>
                    <p>Radial Santa Ana – Belen, Km 3. Santa Ana</p>
                    <p>San Jose. Costa Rica</p>
                    <p>Tel:     <a href="">(+506) 2205-3900</a></p>
                    <p>Web:   <a href="">www.blplegal.com</a></p>
                </div>
                <div class="about_member_block">
                    <div class="about_member_person">
                        <div class="pull-left about_member_person_img">
                            <img src="~/Images/member-img-2.jpg" alt="">
                        </div>
                        <div class="pull-right about_member_person_info">
                            <h3>Uri Weinstok</h3>
                            <span><a class="" href="#">uweinstok@blplegal.com</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

