
@{
    ViewBag.Title = "GazetteArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Publication</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ul class="page_nav_list">
                    <li><a href="#">Home /</a></li>
                    <li><a href="#">Publication /</a></li>
                    <li><a href="#">GALA Gazette</a></li>
                </ul>
            </div>
        </div>
        <div class="row content_text"> 
            <div class="col-xs-8 content_global">

                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">GALA Gazette</h1>
                    </div>
                    <div class="pull-right print_share">
                        <h4 class="events_archive text_uppercase"><a href="~/Publication/GazetteArticle">< Volume 10, issue 2 ></a></h4>
                    </div>
                </div>
                <hr>

                <h2 class="gazette_data text_uppercase">04.21.2014</h2>
                <h4 class="gazette_country"><a href="~/Publication/GazetteArticle">Costa Rica</a></h4>
                <p><span class="text_uppercase">RECENT DEVELOPMENTS IN DATA PROTECTION IN COSTA RICA</span></p>
                <p>In recent years Costa Rica has followed international trends and enacted a Data...</p>
                <p>Author: Uri Weinstok, BLP Legal</p>
                <br>
                <h4 class="gazette_country">France</h4>
                <p><span class="text_uppercase">ADVERTISING FOR ALCOHOLIC BEVERAGES: STILL A HOT TOPIC IN FRANCE</span></p>
                <p>A draft Bill, dedicated to the development, the activity and the economic equal chances... </p>
                <p>Authors: Michel Béjot & Caroline Bouvier, Bernard - Hertz - Béjot</p>
                <br>
                <h4 class="gazette_country">Germany</h4>
                <p><span class="text_uppercase">GOOGLE ADWORDS TRADEMARK COMPLAINTS AND GERMAN UNFAIR COMPETITION LAW</span></p>
                <p>Within its AdWords online advertising program, Google has issued an "AdWords...</p>
                <p>Author: Kai Runkel, Heuking Kühn Lüer Wojtek</p>
                <br>
                <h4 class="gazette_country">Hungary</h4>
                <p><span class="text_uppercase">CHANGES IN THE HUNGARIAN CODE OF ADVERTISING ETHICS</span></p>
                <p>The most important self-regulatory instrument in Hungarian advertising law is the...</p>
                <p>Author: Dr. Gabor Faludi Jr., Szecskay Attorneys at Law</p>
                <br>
                <h4 class="gazette_country">Ireland</h4>
                <p><span class="text_uppercase">IRISH HIGH COURT CONSIDERS COMPARATIVE ADVERTISING RULES</span></p>
                <p>An advertising campaign by Dunnes Stores, an Irish supermarket chain, using...</p>
                <p>Author: Éadaoin McLoughlin, Duncan Grehan & Partners Solicitors</p>
                <br>
                <h4 class="gazette_country">Korea</h4>
                <p><span class="text_uppercase">RECENT AMENDMENT OF THE KFTC NOTIFICATION REGARDING LABELING AND ADVERTISEMENT</span></p>
                <p>This past May, the Korea Fair Trade Commission ("KFTC") issued an administrative...</p>
                <p>Authors:Sun Park & Hyun-Wook Shin, Kim & Chang</p>
                <br>
                <h4 class="gazette_country">Malta</h4>
                <p><span class="text_uppercase">ONLINE ADVERTISING - A MALTESE PERSPECTIVE</span></p>
                <p>This brief article will seek to outline the legislative position with regards to online...</p>
                <p>Author: Michael Muscat, Aequitas Legal</p>
                <br>
                <h4 class="gazette_country">Portugal</h4>
                <p><span class="text_uppercase">ONLINE GAMING & BETTING IN PORTUGAL</span></p>
                <p>Decree-Law 66/2015 establishing the legal framework on online gaming and betting...</p>
                <p>Author: Ricardo Henriques, Pedro Pinto, Bessa Monteiro, Reis, Branco, Alexandre Jardim & Associados, Sociedade de Advogados, RL  </p>
                <br>
                <h4 class="gazette_country">Russia</h4>
                <p><span class="text_uppercase">FIFA CHAMPIONSHIP IN RUSSIA. SPECIAL REGULATION ON IP AND ADVERTISING.</span></p>
                <p>The wide range of amendments was introduced into Russian legislation due to Russia...</p>
                <p>Authors: Irina Anyukhina & Aleksandr Lipkes, ALRUD</p>
                <br>
                <h4 class="gazette_country">Sweden</h4>
                <p><span class="text_uppercase">ALCOHOL MARKETING THROUGH DIRECT MARKETING ALLOWED IN SWEDEN</span></p>
                <p>On May 6, 2015 the Swedish Market Court (the "MD") tried whether a wine supplier...</p>
                <p>Authors: Michael Plogell & Erik Ullberg, WISTRAND</p>
                <br>
                <h4 class="gazette_country">Turkey</h4>
                <p><span class="text_uppercase">WHAT HAPPENED TO THE UNSOLICITED COMMERCIAL COMMUNICATIONS AFTER THE NEW E-COMMERCE LAW TOOK EFFECT IN TURKEY?</span></p>
                <p>The Law No. 6563 on Electronic Commerce (the "E-Commerce Law") that has been...</p>
                <p>Authors: Basak Gürbüz & Baran Güney, Gün & Partners</p>
                <br>
                <h4 class="gazette_country">United Kingdom</h4>
                <p><span class="text_uppercase">COMMERICAL VLOGGING: THE ASA REINFORCES THE REQUIREMENT FOR PROMINENT DISCLOSURE</span></p>
                <p>The UK's Advertising Standards Authority (ASA) has issued a further ruling on the...</p>
                <p>Authors: Brinsley Dresden & Daniel Bugler, Lewis Silkin</p>
                <br>
                <h4 class="gazette_country">United States (FK)</h4>
                <p><span class="text_uppercase">FOR BRANDS ESPORTS MAY BE THE NEXT BIG THING</span></p>
                <p>eSports has become the newest means for Brands looking to connect with the...</p>
                <p>Author: Sean F. Kane, Frankfurt Kurnit</p>
                <br>

            </div>
            <div class='col-xs-4 membership'>
                <div class="news_block events_block">
                    <div class="stuffing_news stuffing_events">
                        <div class="home_member">
                            <h1 class="member_title text_uppercase member_events_title">Sign up for gala gazette</h1>
                            <div class="member_info member_events_info">
                                <p>Would you like to receive the GALA Gazette? Click the link below to subscribe.</p>
                                <input class="text_uppercase" type="submit" value="SUBSCRIBE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

